// TOOLBOX COLORS
//---------------------------------------------------------------------

$white: #fff;
$black: #000;

$whiteish: #FDFDFD;
$blackish: #202020;

$lightgray: #F6F6F6;
$gray: darken($lightgray, 10%);
$mediumgray: darken($lightgray, 30%);

$red: #D73E4B;
$darkred: #8A1A24;
$yellow: #E4B958;
$blue: #218C9E;
$darkblue: #156370;

$accent-alt:$darkblue;
$accent: $blue;
$brand:$red;