body.navigation{
    .card{
        width: 100% !important;
    }
}

.preview-open{
    max-width: 35vw;
    margin-right: 65vw;

    .preview-frame{
        position: fixed;
        top: 0;
        right: 0;
        width: 65vw;
        height: 100%;
        overflow: auto;
        border-left: 5px solid black;

        iframe{
            width: 100%;
            height: 100%;
        }
    }

    .container{
        width: 98%;
    }

    .card{
        min-width: 200px;
    }
}



.media-gallery{
    margin-top: 20px;
    column-count: 3;
    column-gap: 5px;

    img{
        // padding: 20px;
        display: inline-block;
        margin-bottom: 5px;
        box-sizing: border-box;
        width: 100%;
        cursor: pointer;
    }
}


// TUI Editor
.CodeMirror{
    font-family: monospace !important;
}

.tui-editor-defaultUI .te-switch-button{
    margin: 0;
}

.te-ww-container .tui-editor-contents:first-child{
    padding: 10px;
}

.te-editor,
.tui-editor-contents {
    font: {
        family: $main-font;
        size: $root-font-size;
        weight: $main-font-weight;
    }
    line-height: $basic-line-height;
}

.tui-editor-defaultUI-toolbar button:hover,
.tui-editor-defaultUI-toolbar button:active,
.tui-editor-defaultUI-toolbar button.active{
    color: $main-color;
}

// hide include image button
.tui-image.tui-toolbar-icons{
    display: none;
}